/* Add your CSS styles here */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; /* Substitute for San Francisco */
  height: 100%;
  color: black;
  /*background-image: url("img/WebsiteBackground.png");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;*/
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4cded;
  padding: 10px 20px; /* Add some padding */
}

.logo {
  width: 150px; /* Adjust as needed */
  /* Set this to the dimensions of your logo */
}

h1 {
  color: black;
  /*color: #ffffff; /* Lightest provided color for contrast */
  font-size: 2.5em; /* Adjust as needed */
  font-family: "DM Serif Display", serif;
  margin-bottom: 0px;
  padding-left: 35px;
}

p {
  color: black;
  /*color: #c2d9ff; /* Lightest provided color for contrast */
  font-size: 16px; /* Adjust as needed */
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  padding-left: 35px;
}

.button {
  background-color: #413754; /* Button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  font-family: "Work Sans", sans-serif;
  margin-left: 35px;
}

.trust-sign {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.trust-logo {
  width: 50px; /* Adjust as needed */
  margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header,
  .content {
    padding: 10px;
  }
  h1 {
    font-size: 2em;
  }
}

.footer {
  background-color: #e4cded; /* Dark background for the footer */
  color: black; /* Light text color for contrast */
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: "Work Sans", sans-serif;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.nav-links {
  list-style: none; /* Removes the default list styling */
  display: flex; /* This will display the list items in a row */
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px; /* Adds space between the links */
}

.nav-links a {
  text-decoration: none;
  color: black; /* Change the color as needed */
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
}

.content-picture {
  width: 30%;
  height: auto;
  margin-right: 170px;
}

.text-content {
  max-width: 50%;
}

.content {
  text-align: left;
  flex-grow: 1;
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: space-between; /* Add space between the text and the image */
  padding: 20px;
}
